.container{
    width: 600px;
    height: 600px;
    border: 1px solid black;
}
.activity-main{
    display: flex;
    text-align: center;
    width: 100%;
    height: 10%;
    border: 1px solid black;
}
.btn{
    width: 50px;
    height: 20px;
    border: 1px solid black;
}
/* #activity-shown{
    width: 75%;
    height: 40%;
    border: 1px solid black;
} */
.activity1{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
#activity1{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
.amount{
    width: 75px;
    border: 1px solid black;
}
.delete{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

 /* Dropdown Button */
 .dropbtn {
    background-color: #709775;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #415d43;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #709775;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #415d43}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 